.table {
    width:60%;
    margin-left:auto; 
    margin-right:auto;
}
#heading1 {
    color: #d9534f;
    text-shadow: 2px 2px #992d29;
}
#heading2 {
    color: #428bca;   
    text-shadow: 2px 2px #323aa0; 
}
#heading3 {
    color: #343a40;  
    text-shadow: 2px 2px #b1aeae;  
}
.heading{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}