.table {
    width:60%;
    margin-left: 20%;
    margin-top: 40px;
}
#heading {
    margin-left: 43%;
    color: #d9534f;
    text-shadow: 2px 2px black;
    margin-top: 20px;
    font-weight: bold;
}
#heading2 {
    margin-left: 38%;
    color: #428bca;
    text-shadow: 2px 2px black;
    margin-top: 20px;
    font-weight: bold;
}